.root{
    height: 100vh;
    width: 100%;
    max-width: 350px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

.profileWrapper{
    margin-bottom: 10px;
}

.chatListWrapper{
    height:calc(100vh - 185px);
    overflow-y: scroll;
}

.chatListWrapper::-webkit-scrollbar {
    display: none;
}

.chatListWrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
